.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--write);
  padding: 2rem;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin-top: 3rem;
}
.divParagraph{
  font-size: 1.5rem;
  max-width: 35%;
  max-height: 50%;
  line-height: 1.5;
  background-color:#195CAB;
  padding: 4.3rem;
  border-radius: 50%;
  text-align: center;
 
}


.pikachuImage{
  width: 300px;
  height: 300px;
}
