.button {
  text-decoration: none;
  background-color: #6987f4;
  padding: 0.7em 1.2em;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.4s;
  width: 100px;
  font-size: 1rem;
}
.button:hover {
  background-color: #5364fe;
}
