.cardPokemon{
  box-shadow: 5px 10px rgba(36, 36, 36, 0.382);
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(242, 243, 231, 0.043);
  z-index: 10;
  
}
.cardPokemon h3{
  color: var(--write);
  font-size: 1.5rem;
}
