.background {
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("/assets/backgroundBlue.jpg");
  z-index: -1;
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
}
.attribute{
  text-align: center;
}


/*.main:after {
  content: "";
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(65,80,145);
  background: linear-gradient(90deg, rgba(65,80,145,1) 15%, rgba(49,107,187,0.865983893557423) 50%, rgba(65,80,145,1) 85%);
z-index: -1;
}*/
