.divNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.3rem;
}
.listNavBar {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-decoration: none !important;
}
.listNavBar li {
  color: #ffffff;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
  transition: 0.4s;
}
.listNavBar li:hover {
  border-color: #ffffff;
}
