.divNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.3rem;
}
.listNavBar {
  display: flex;
  gap: 1rem;
}
.listNavBar li {
  color: var(--write);
  padding-bottom: .5rem;
  border-bottom: 3px solid transparent;
  transition: .4s;

}
.listNavBar li:hover{
  border-color: var(--write);
}